<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="it.gerdavax.android.bluetooth.sample" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="Bluetooth Samples">
		<activity android:name=".BluetoothSamples" android:label="Bluetooth Samples"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".BluetoothServiceSample"
			android:label="Bluetooth Service Sample" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="it.gerdavax.android.bluetooth.sample.SERVICE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".LocalDeviceSample" android:label="Local Device Sample"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="it.gerdavax.android.bluetooth.sample.LOCAL" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".DeviceDiscoverySample"
			android:label="Device Discovery Sample" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="it.gerdavax.android.bluetooth.sample.DISCOVERY" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".GPSSample" android:label="GPS Sample"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="it.gerdavax.android.bluetooth.sample.GPS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="2" />
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
</manifest> 